<!DOCTYPE html>
<html>
    <head>
        <title>blabla post</title>
    </head>
    <body>
        <h1>blabla post</h1>
        <p>Hey, you can post everything you want here!</p>
        <form action="/api/post" method="POST">
            <div>
                    <input type="text" name="title" placeholder="blabla title" />
            </div>
            <div>
                    <textarea name="content" placeholder="say blabla once agin"></textarea>
            </div>
            <div>
                <input type="submit" value="Post" />
            </div>
        </form>
    </body>
</html>