<!DOCTYPE html>
<html>
    <head>
        <title>Le râleur</title>
    </head>
    <body>
        <h1>Le coup de gueule du râleur</h1>
        <p>Hé, tu peux passer tous les coups de gueule que tu veux !</p>
        <form action="/api/post" method="POST">
            <div>
                    <input type="text" name="title" placeholder="Titre du coup gueule" />
            </div>
            <div>
                    <textarea name="content" placeholder="Allez, lâche-toi ça fait plaisir..."></textarea>
            </div>
            <div>
                <input type="submit" value="Envoyer" />
            </div>
        </form>
    </body>
</html>